
<mat-toolbar style="background-color:rgb(53, 26, 204);">
  <h1>Collab Pro</h1>  
</mat-toolbar>

<div class="contaire-fluid">
    <div class="row" id="mondiv">
        <div style="background: rgb(245, 250, 250); height: 93vh;" class="col-md-3">
            <div >
                <mat-card class="mt-3">
                    <form [formGroup]="todoForm" >
                        <mat-form-field appearance="fill">
                            <mat-label>Nom Tâche</mat-label>
                            <input formControlName="discription" matInput placeholder="status">
                            <mat-icon matSuffix>         </mat-icon>
                            <mat-hint>Ajouter le nom de tâche</mat-hint>
                            
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Status</mat-label>
                          <input formControlName="status" matInput placeholder="status">
                          <mat-icon matSuffix>          </mat-icon>
                          <mat-hint>Ajouter le status de la Tâche</mat-hint>
                          
                      </mat-form-field>
                        <select class="form-select" aria-label="Developpeur" formControlName="developpeurs">
                          <option *ngFor="let developpeurs of ListDeveloppeurs" [value]="developpeurs.id">{{developpeurs.prenom}}{{developpeurs.nom}}</option>
                        </select>
                       
                        <button *ngIf="!isEditEnabled" (click)="addNewTache()" mat-raised-button color="primary" >Ajouter</button>
                    </form>
                </mat-card>

            </div>
        </div>
        <div class="col-md-9 mt-3" >
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <!--to do-->
                        <div class="example-container">
                            <h2 class="head-title">A Faire <span *ngIf="tasks.length >0"> - {{tasks.length}}</span></h2>
                          
                            <div
                              cdkDropList
                              #todoList="cdkDropList"
                              [cdkDropListData]="tasks"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" cdkDrag *ngFor="let tache of tasks; let i=index">{{tache.discription}}
                                <div class="box">
                                  <button mat-icon-button color="warn" (click)="deleteTache(tache.id)"> <mat-icon>delete</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- in progress-->
                        <div class="example-container">
                            <h2 class="head-title">En Cours <span *ngIf="inprogress.length >0"> - {{inprogress.length}}</span></h2>
                          
                            <div
                              cdkDropList
                              #todoList="cdkDropList"
                              [cdkDropListData]="inprogress"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" cdkDrag *ngFor="let tache of inprogress; let i=index ">{{tache.discription}}
                                <div class="box">
                                  <button mat-icon-button color="warn" (click)="deleteinprogress(tache.id)"> <mat-icon>delete</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--done-->
                        <div class="example-container">
                            <h2 class="head-title">Fait <span *ngIf="done1.length >0"> - {{done1.length}} </span></h2>
                          
                            <div
                              cdkDropList
                              #todoList="cdkDropList"
                              [cdkDropListData]="done1"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" cdkDrag *ngFor="let discription of done1; let i=index">{{discription.discription}}
                                <div class="box">
                                  <button mat-icon-button color="accent" ><mat-icon>check-cirle</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
